<!--
<div id="container-exp">
	<div id="trial">
		<h1>Respond Quickly!</h1>
		<p>What color is this word?</p>
		<div id="stim"></div>
		<div id="query"></div>
	</div>
</div>
-->

<!DOCTYPE html>
<html>
<body>


<div id="query"></div>


<div id="container-canvas">
<img class='img' src="/static/images/seashell-outline.jpg" />
<canvas id="canvas1" width="400" height="400">
Your browser does not support the HTML5 canvas tag.
</canvas>
</div>


<div id="container-canvas">
<img class='img' src="/static/images/seashell-outline.jpg" />
<canvas id="canvas2" width="400" height="400">
Your browser does not support the HTML5 canvas tag.
</canvas>
</div>

<!--
<script>
	ShapesExperiment();
</script>
-->

</body>
</html>

