<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
        	Great job! Now that you're trained, you have the opportunity to earn real bonus money. Your job is again to pick the higher-valued oysters.
        	
        <p>
        	But this time you won't receive feedback on the value of the pearls. At the end, we'll reveal how much you've earned.
		</p>
    

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
        	
            <div class="col-xs-2">
            <!--no previous button on this screen
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            -->
            </div>
          
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
