<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
	    	In this experiment, you're pretending to be diving for oysters. Each oyster has a pearl inside that has a certain value. <b>Your goal is to choose the oysters with the higher-valued pearls.</b>
	    <p>	
	    You'll be trained to predict the value of the pearl inside an oyster by the pattern on its shell. Different oysters have different shell patterns. <b>The value of the pearl inside varies according to the oyster. </b>
	    </p>
	    </p>
	    
	    <p>
	    	We'll train you by presenting examples of oyster shell patterns. For each pair of oysters you see, your job will be to choose the oyster you think has a higher valued pearl inside. 
	    	<p>You will press the left arrow key (&#8592) to select the oyster on the left, and the right arrow key (&#8594) to select the oyster on the right.
	    	</p>
        </p>

        <p>
        	Training will end when you demonstrate that you can consistently choose the higher-valued oyster. <b>After training, there will be an opportunity to earn real bonus money, depending on how well you can choose the higher-valued oyster.</b>
        	
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
